<!DOCTYPE html>
<html lang="de">

<head>
	<meta charset="utf-8">
	<title>IGUTech - Mag. Franz Gusenbauer | Büro für Geoinformatik</title>
	<meta name="msvalidate.01" content="46811137F39C7B464BC5968A835130EA" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
	<meta name="description" content="IGUTech - Mag. Franz Gusenbauer | Büro für Geoinformatik: Der technologische Fokus liegt dabei auf offenen Standards und Open Source Komponenten. Neben dem Einsatz von plattformübergreifenden Web-Technologien werden konsequent die Möglichkeiten von skalierbaren Cloud-Diensten genutzt.">
	<meta name="author" content="Mag. Franz Gusenbauer">
	<meta name="keywords" content="Geoinformatik, Software, GIS, Javascript, Web, HTML5, CSS, PostgreSQL, QGIS, Franz Gusenbauer, TOMKIT" />.
	<meta name="robots" content="all">
	<meta property="og:type" content="website">
	<meta property="og:title" content="IGUTech - Mag. Franz Gusenbauer | Büro für Geoinformatik">
	<meta property="og:site_name" content="IGUTech - Mag. Franz Gusenbauer | Büro für Geoinformatik">
	<meta property="og:description" content="IGUTech - Mag. Franz Gusenbauer | Büro für Geoinformatik: Der technologische Fokus liegt dabei auf offenen Standards und Open Source Komponenten. Neben dem Einsatz von plattformübergreifenden Web-Technologien werden konsequent die Möglichkeiten von skalierbaren Cloud-Diensten genutzt.">
	<meta property="og:image" content="images/cinema.jpg">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="630">
	<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
	<link rel="icon" href="images/favicon.png" type="image/x-icon">
  
  <!-- theme meta -->
  <meta name="theme-name" content="igutech" />

	<!-- # Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">

	<!-- # CSS Plugins -->
	<link rel="stylesheet" href="plugins/slick/slick.css">
	<link rel="stylesheet" href="plugins/font-awesome/fontawesome.min.css">
	<link rel="stylesheet" href="plugins/font-awesome/brands.css">
	<link rel="stylesheet" href="plugins/font-awesome/solid.css">

	<!-- # Main Style Sheet -->
	<link rel="stylesheet" href="css/style.css">
</head>

<body>

@@include('navigation.htm')
