<!-- navigation de-->
<header class="navigation bg-tertiary de">
	<nav class="navbar navbar-expand-xl navbar-light text-center py-3 fixed-top">
		<div class="container">
			<a class="navbar-brand" href="index.html?lang=de">
				<img loading="prelaod" decoding="async" class="img-fluid" src="images/logo.png" alt="IGUTech">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mx-auto mb-2 mb-lg-0">
					<li class="nav-item"> <a class="nav-link" href="index.html?lang=de">Home</a>
					</li>
					<li class="nav-item "> <a class="nav-link" href="services.html?lang=de">Services</a>
					</li>
					<li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Produkte</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item " href="tomkit.html?lang=de">Tomkit</a></li>
							<li><a class="dropdown-item" href="inspect.html?lang=de">Inspect.db</a></li>
							<!--<li><a class="dropdown-item" href="2doc.html?lang=de">2doc</a></li>-->
						</ul>
					</li>
					<li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Referenzen</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item " href="kunden.html?lang=de">Kunden</a></li>
							<li><a class="dropdown-item" href="projekte.html?lang=de">Projekte</a></li>
						</ul>
					</li>
					</li>
					<li class="nav-item"> <a class="nav-link" href="about-franz-gusenbauer.html?lang=de">Über uns</a>
					</li>
					<li class="nav-item"> <a class="nav-link" href="download.html?lang=de">Download</a>
					</li>
					<li class="nav-item"> <a class="nav-link" href="contact.html?lang=de">Kontakt</a>
					</li>
				</ul>
				<a href="index.html?lang=en" class="language navbar-right" rel="en-US"><img src="images/pics/en.png" alt="English"></img></a>
			</div>
		</div>
	</nav>
</header>
<!-- /navigation -->

<!-- navigation en -->
<header class="navigation bg-tertiary en">
	<nav class="navbar navbar-expand-xl navbar-light text-center py-3 fixed-top">
		<div class="container">
			<a class="navbar-brand" href="index.html?lang=en">
				<img loading="prelaod" decoding="async" class="img-fluid" src="images/logo.png" alt="IGUTech">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mx-auto mb-2 mb-lg-0">
					<li class="nav-item"> <a class="nav-link" href="index.html?lang=en">Home</a>
					</li>
					<li class="nav-item "> <a class="nav-link" href="services.html?lang=en">Services</a>
					</li>
					<li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Products</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item " href="tomkit.html?lang=en">Tomkit</a></li>
							<li><a class="dropdown-item" href="inspect.html?lang=en">Inspect.db</a></li>
							<!--<li><a class="dropdown-item" href="2doc.html?lang=en">2doc</a></li>-->
						</ul>
					</li>
					<li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">References</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item " href="kunden.html?lang=en">Customers</a></li>
							<li><a class="dropdown-item" href="projekte.html?lang=en">Projects</a></li>
						</ul>
					</li>
					</li>
					<li class="nav-item"> <a class="nav-link" href="about-franz-gusenbauer.html?lang=en">About us</a>
					</li>
					<li class="nav-item"> <a class="nav-link" href="download.html?lang=en">Download</a>
					</li>
					<li class="nav-item"> <a class="nav-link" href="contact.html?lang=en">Contact</a>
					</li>
				</ul>
				<a href="index.html?lang=de" class="language navbar-right" rel="de-DE"><img src="images/pics/de.png" alt="German" /></a>
			</div>
		</div>
	</nav>
</header>
<!-- /navigation -->